
@import url('https://fonts.googleapis.com/css2?family=Metal&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {background: #fff; font-family: "Metal", serif; font-size:14px; color:#000; position: relative; z-index:999;}

.no_padding {
  padding-left: 0;
  padding-right: 0;  
}
ul {
  padding:0;
  margin:0;
}
p {
  font-family: "Roboto", Sans-serif;
  font-size: 15px;		
}
.btn {
  background: #7a85f0;
  border: 1px solid #7a85f0;
  color: #fff;
  padding: 6px 20px;
  margin: 30px 0 0;
  margin: 30px 0 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.btn:hover {
  background: #244ebc;
  border: 1px solid #244ebc;
  color: #fff;
}
input:focus, .form-control:focus, .accordion-button:focus {
  outline: 0;
  box-shadow: none;	  
  border-color: none;
}

.header {
  position: relative;
  z-index: 11;
}
.header {
  padding: 7px 40px;
  background: #fff;
}
.header .logo img {
  width: 72%;
}
.header.sticky {
  position: fixed;
  top: 0;
  z-index: 11;
  background: #fff;
  width: 100%;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
}
.header .main_head .menus .navbar .navbar-collapse .navbar-nav .close {
  display: none;
}
.header .menus .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  color: #2A52BE;
  font-size: 24px;
  font-weight: 500;
  padding: 0 23px;
}
.header .menus .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-toggle::after {
  margin: 4px auto 0;
  position: relative;
  top: 5px;
  left: 5px;
}
.header .menus .navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover, 
.header .menus .navbar .navbar-collapse .navbar-nav .nav-item .nav-link.active {
  color: #00E8FF;
}
.header .menus .navbar .navbar-collapse .navbar-nav .nav-item:last-child .nav-link {
  padding-right: 0;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  top: 46px;
  padding: 0;
}
.header .menus .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  font-family: "Metal", Sans-serif;
  font-size: 19px;
  font-weight: 500;
  padding: 9px 20px;  
}
.dropdown-item:focus, .dropdown-item:hover {
  color: #fff;
  background-color: #3f444b;
}
.header .menus .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu.submenu.show {
  display: flex;
  width: 430px;
}
.header .menus .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu.submenu.show li {
  width: 100%;
  list-style: none;
  padding-left: 12px;
  padding-right: 12px;
}
.header ..menus .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu.submenu.show li h4 {
  font-size: 21px;
  border-bottom: 1px solid #244ebc;
  color: #244ebc;
  margin: 0 0 15px;
  padding: 0 0 7px;
}
.header .menus .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu.submenu.show li ul li {
  padding: 5px 0;
}
.header .menus .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu.submenu.show li ul li .sub-item {
  color: #000;
  text-decoration: none;
  font-size: 16px;
  line-height: 23px;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.header .menus .navbar .navbar-collapse .navbar-nav .nav-item .dropdown-menu.submenu.show li ul li .sub-item:hover {
  color: #244ebc;
}
.header .menus .navbar .navbar-collapse .navbar-nav .close {
  display: none;
}
.header .prfl img {
  width: 70px;
}
.header .prfl {
  text-align: center;
}
.header .prfl a {
  text-decoration: none;	
}
.header .prfl span {
  display: block;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5em;
  color: #2a52be;
  text-transform: uppercase;
  margin: 7px 0 0;
}
.hm_abt {
  background: #f6f6f6;
  margin: 0;
  padding: 53px 35px;
  text-align: center;  
}
.hm_abt h2 {
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}


footer {
  background: #1E2831;
  margin: 0;
  padding: 12px 0 0;
}
footer .ftr_abt img {
  width: 31%;
}
footer .ftr_abt h4 {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  margin: 20px 0 30px;
}
footer .ftr_abt h4::after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  background: #fff;
  width: 57px;
  height: 4px;
}
footer .ftr_abt p {
  text-align: justify;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
}
footer .ftr_abt li {
  list-style: none;
  display: block;  
}
footer .ftr_abt li a {
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 0 3px;
  display: block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
footer .ftr_abt li a:hover {
  color: #1abc9c;
}
footer .ftr_abt.lnks {
  margin: 132px 0 0;
}
footer .ftr_abt.lnks .adrs .adrs_box {
  display: flex;
  align-items: center;
  margin: 0 0 20px;
  border-bottom: 1px solid #fff;
  padding: 0 0 20px;
}
footer .ftr_abt.lnks .adrs .adrs_box:last-child {
  border-bottom: 0;
}
footer .ftr_abt.lnks .adrs .adrs_box .adrs_icn {
  margin: 0 12px 0 0;
}
footer .ftr_abt.lnks .adrs .adrs_box .adrs_icn img {
  width: auto;
}
footer .ftr_abt.lnks .adrs .adrs_box p {
  margin: 0;
}
footer .ftr_abt.lnks .adrs .adrs_box p a {
  color: #fff;
  text-decoration: none;  
}

.copyright {
  background: #4680ae;
  text-align: center;
}	  
.copyright p {
  margin: 0;
  color: #fff;
  padding: 12px 0;
  font-size: 14px;
}

.inr_banner {
  background-color: #9C9C9C;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 283px;
}
.inr_banner .ovrlay {
  background-color: #020202;
  opacity: 0.5;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}
.inr_banner h2 {
  color: #FFFFFF;
  font-size: 36px;
  line-height: 28px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.stry {
  background: #f6f6f6;
  padding: 30px 0;  
}
.stry .stry_imag img {
  width: 100%;
  border: 8px solid #fff;
}
.stry .stry_text {
  background: #fff;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid #696969;
  box-shadow: 8px 0px 14px 0px rgba(119.63749999999999, 61.11915760869565, 61.11915760869565, 0.5);
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  min-height: 330px;
}
.stry .stry_text span {
  color: #2A52BE;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 7px 7px 27px;
  display: block;
  font-family: "Times New Roman", Times, serif;
}
.stry .stry_text h3 {
  color: #000000;
  font-size: 33px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 34px;
  font-family: "Times New Roman", Sans-serif;
  margin: 0 0 20px;
}
.stry .stry_text p {
  text-align: justify;
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  font-family: "Roboto", Sans-serif;
}
.stry .stry_pera {
  margin: 35px 0 0;
}
.stry .stry_pera p {
  text-align: justify;
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin: 0;  
}
.dvsn {
  background: #FAFAFA;
  padding: 10px 0 30px;
}
.dvsn h2 {
  text-align: center;
  color: #000000;
  font-family: "Times New Roman", Sans-serif;
  font-size: 40px;
  font-weight: 600;
  margin: 0 0 12px;
}
.dvsn .dvsn_box {
  display: flex;	
  border: 1px solid #868686;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 15px 15px 15px 15px;
  border-radius: 14px;
  background: #fff;
  padding: 10px;
}
.dvsn .dvsn_box .dvsn_icns img {
  width: 73px;
}
.dvsn .dvsn_type .type_txt {
  background: #fff;
  margin: 40px 0 0; 
}
.dvsn .dvsn_type .type_txt h3 {
  color: #000000;
  font-family: "Times New Roman", Sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 15px;
}
.dvsn .dvsn_type .type_txt p {    
  text-align: justify;
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-size: 16px;
  font-weight: 400;
}

.trm_srcng.grmnt .srcng_bar {
  background: #fff;
  height: 100%;
  padding: 12px;
}
.trm_srcng {
  background: #f6f6f6;
  padding: 15px 0;
}
.trm_srcng .srcng_bar .srcng_box a {
  background-color: #FFFFFF;
  border: 2px solid #282828;
  border-radius: 0;
  padding: 8px 15px;
  margin: 0 0 20px;
  text-decoration: none;	
  color: #000;
  max-width: 270px;
  display: block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.trm_srcng .srcng_bar .srcng_box a:hover {
  background-color: #2A78E7;
}
.trm_srcng .srcng_bar .srcng_box:hover a {
  color: #fff;
}
.trm_srcng .srcng_bar .srcng_box h4 {
  font-family: "Metal", Sans-serif;
  font-size: 21px;
  font-weight: 500;
  display: inline-block;
  margin: 0 9px 0 0;
}
.trm_srcng .srcng_bar .srcng_box img {
  filter: brightness(0);
}
.trm_srcng .srcng_bar .srcng_box:hover img {
  filter: brightness(100);
}
.trm_srcng .srcng_bar .srcng_qstn {
  background: #000;
  padding: 160px 9px 15px;
  margin: 40px 0 0;
}
.trm_srcng .srcng_bar .srcng_qstn h2 {
  color: #FFFFFF;
  font-family: "Times New Roman", Sans-serif;
  font-size: 33px;
  font-weight: 600;
  text-transform: uppercase;	
}
.trm_srcng .srcng_bar .srcng_qstn p {
  font-family: "Roboto", Sans-serif;
  font-size: 14px;  
  color: #fff;
}
.trm_srcng .srcng_bar .srcng_qstn span {
  font-family: "Roboto", Sans-serif;
  font-size: 14px;  
  color: #fff;
  font-weight: 600;
}
.trm_srcng .srcng_bar .srcng_touch {
  background: #fff;
  padding: 15px 14px;
  margin: 38px 0 0;
}
.trm_srcng .srcng_bar .srcng_touch h2 {
  color: #000000;
  font-family: "Metal", Sans-serif;
  font-size: 27px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0 0 18px;
}
.trm_srcng .srcng_bar .srcng_touch li {
  display: flex;
  align-items: center;
  margin: 0 0 12px;
}
.trm_srcng .srcng_bar .srcng_touch li:last-child {
  margin: 0;
}
.trm_srcng .srcng_bar .srcng_touch li .adrs_icn img {
  margin: 0 15px 0 0;
  opacity: 0.6;
}
.trm_srcng .srcng_bar .srcng_touch li p {
  font-family: "Metal", Sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 21px;
  text-transform: capitalize;
}
.trm_srcng .srcng_fbrc img {
  width: 100%;
  margin: 0 0 20px;
}
.trm_srcng .srcng_fbrc h2 {
  color: #000000;
  font-family: "Metal", Sans-serif;
  font-size: 28px;
  font-weight: 600;
  text-transform: uppercase;
}
.trm_srcng .srcng_fbrc p {
  color: #000000;
  font-family: "Roboto", Sans-serif;
  font-size: 17px;
  font-weight: 400;
}
.trm_srcng .srcng_fbrc h3 {
  color: #000000;
  font-family: "Metal", Sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase  
}
.trm_srcng .srcng_fbrc h4 {
  color: #000000;
  font-family: "Metal", Sans-serif;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
}
.trm_srcng .srcng_fbrc a {
  color: #000000;
  background-color: #61CE7000;
  border: 2px solid #000;
  border-radius: 1px;
  padding: 8px 24px;
  font-size: 15px;
  font-family: "Roboto", Sans-serif;
  text-decoration: none;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
}
.trm_srcng .srcng_fbrc a:hover {
  color: #fff;
  background-color: #3C58AA;
  border: 2px solid #3C58AA;
}  
.prdcts {
  background: #f6f6f6;
  padding: 20px 0;
}
.prdcts .prdct_box .prdct_img {
  margin: 0 0 30px;
}
.prdcts .prdct_box .prdct_img img {
  width: 100%;
}	
.cntct_buyer {
  background: #f6f6f6;
  padding: 30px 0;
}	
.cntct_buyer .buyer p {
  color: #000000;
  font-family: "Metal", Sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 23px;
}	
.cntct_buyer .buyer p a {
  font-family: "Roboto", Sans-serif;
  color: #000;
  text-decoration: none;
  font-size: 15px;
}
.cntct_buyer .buyer form {
  margin: 40px 0 0;
  background: #fff;
  padding: 10px;
}
.cntct_buyer .buyer form .form-group {
  margin: 0 0 30px;
}
.cntct_buyer .buyer form .form-group .form-control {
  width: 100%;
  display: inline-block;
  border-color: #777771;
  background-color: #ffffff;
  color: #000000;
  font-size: 16px;
  font-family: Roboto;
  border-radius: 2px;
  padding: 9px;
}
.cntct_buyer .buyer form .form-group textarea {
  min-height: 140px;
}
.cntct_buyer .buyer form .sbmt_btn, .cntct_buyer.smpl .smpl_inr form .sbmt_btn { 
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  background-color: #342f86;
  color: #FFFFFF;
  padding: 10px;
  border-radius: 2px;
  text-decoration: none;
  display: inline-block;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
} 
.cntct_buyer .buyer form .sbmt_btn:hover, .cntct_buyer.smpl .smpl_inr form .sbmt_btn:hover {   
  background-color: #008FCA;
  color: #FFFFFF;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.6);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.6);
}
.cntct_buyer .buyer form .form-group .chs_fil label {
  background-color: #1ABCA1;
  color: #fff;
  font-size: 14px;
  font-family: Roboto;
  font-weight: 500;
  margin: 0 10px 0 0;
  padding: 10px;
  border-radius: 2px;
}
.cntct_buyer .buyer form .form-group .chs_fil label:hover {
  -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,.6);
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.6);
}
.cntct_buyer .buyer form .form-group .chs_fil span {
  color: #777771;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  text-transform: uppercase;
}
.cntct_buyer .buyer form .form-group .chs_fil p {
  font-size: 12px;
  font-family: Roboto;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}
.cntct_buyer.vndr a {
  display: block;
}
.cntct_buyer.smpl {
  padding: 70px 0 30px;
}
.cntct_buyer.smpl .smpl_inr h3 {
  color: #303030;
  padding: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Roboto;
  font-size: 17px;
  font-weight: 600;
  position: relative;
  margin: 0 0 56px;
}
.cntct_buyer.smpl .smpl_inr h3::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  background-color: #303030;
  height: 2px;
  width: 22px;
  display: block;
}
.cntct_buyer.smpl .smpl_inr form {
  width: 60%;
}
.cntct_buyer.smpl .smpl_inr form .form-box {
  display: flow-root;
  margin: 0 0 25px;
}
.cntct_buyer.smpl .smpl_inr form .form-box label {
  display: block;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  color: #000;
  font-family: Roboto;
  margin: 0 0 9px;
}
.cntct_buyer.smpl .smpl_inr form .form-box.name .form-group {
  float: left;
  width: 48.5%;
  margin: 0 20px 0 0;
}
.cntct_buyer.smpl .smpl_inr form .form-box.name .form-group:last-child {
  margin: 0;
}
.cntct_buyer.smpl .smpl_inr form .form-box.name .form-group span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  font-family: Roboto;	
}