
@media screen and (max-width: 1300px) {


}

@media screen and (max-width: 1199px) {

.header .main_head .menus .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 15px;
  padding: 0 9px;
}
.header .menus .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-size: 21px;
  padding: 0 12px;
}
.cntct_buyer.smpl .smpl_inr form .form-box.name .form-group {
  width: 48%;
}

}

@media screen and (max-width: 991px) {
.header {
  padding: 12px 15px;
}
.header .logo img {
  width: 46%;
}
.header .menus .navbar .navbar-collapse .navbar-nav .close {
  display: block;
}
.header .menus {
  float: right;
}
.header .menus .navbar .navbar-collapse {
  position: fixed;
  background: #fff;
  height: 100%;
  width: 270px;
  top: 0;
  z-index: 11;
  right: 0;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  box-shadow: 0px 0px 13px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0px 0px 13px rgba(0,0,0,0.2);
}
.header .menus .navbar .navbar-collapse .navbar-nav .close {
  background: transparent;
  border: 0;
  position: absolute;
  right: 10px;
  font-size: 30px;
  top: 0px;
}
.header .menus .navbar .navbar-collapse .navbar-nav {
  padding: 40px 0 0;
}
.cntct_buyer.smpl .smpl_inr form .form-box.name .form-group {
  width: 47.5%;
}
footer .ftr_abt img {
  margin: 0 auto;
  display: block;
}
footer .ftr_abt.lnks {
  margin: 23px 0 0;
}


}

@media screen and (max-width: 767px) {

.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: relative;
  top: 0;
  border-radius: 0;
}
.header .logo img {
  width: 62%;
}
.hm_abt {
  padding: 30px 0;
}
.hm_abt h2 {
  font-size: 21px;
}
.stry .stry_text {
  margin: 30px 0 0;
  min-height: 100%;
}
.stry .stry_text h3 {
  font-size: 21px;
  line-height: 24px;
}
.dvsn h2 {
  font-size: 29px;
}
.dvsn .dvsn_type .type_txt h3 {
  font-size: 21px;
}
.inr_banner h2 {
  font-size: 24px;
  left: 0;
  transform: translate(0,-50%);
  right: 0;
}
.trm_srcng .srcng_fbrc {
  margin: 30px 0 0;
}
.trm_srcng .srcng_bar .srcng_qstn h2 {
  font-size: 31px;
}
.trm_srcng .srcng_fbrc h2 {
  font-size: 24px;
}
.cntct_buyer.smpl .smpl_inr form {
  width: 100%;
}
.cntct_buyer.smpl .smpl_inr form .form-box.name .form-group {
  width: 100%;
}

  
}

@media screen and (max-width: 575px) {
.header .logo img {
  width: 79%;
}
.header .prfl img {
  width: 43px;
}
.header .prfl span {
  font-size: 11px;
}






}